[
	{clickatell, 
		[
			{user, 'monimi_notifier'},
			{pass, 'buPaZZx1'},
			{api, '3102924'}
		]
	},
	{mm_hub, 
		[
			{monitor_nodes, ['monitor@monitor1.monimi.net', 'monitor@monitor2.monimi.net', 'monitor@monitor3.monimi.net']},
			{clickatell, ['monimi_notifier', 'buPaZZx1', '3102924']}
		]
	}
].
 