<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<title py:match="title">monimi.net - website monitoring, free sms alerts</title>
	  
<div py:match="//div[@class='menu-contents']">
	<ul>
		<li><a href="/" title="">Welcome</a></li>
		<li class="active"><a href="" title="">Contact</a></li>
	</ul>
</div>
	  
<div py:match="//div[@class='body-contents']">
	<div id="main-only">
		<div class="boxed">
			<div class="title">
				<h2>Monimi.net monitoring bot</h2><div class="corner_right"></div>
				<div style="clear: both; height:0px;">&nbsp;</div>
			</div>
			<div class="content">
				If you have any questions regarding our bot acessing your 
                server, please contact us us at <a href="mailto:contact@monimi.net">contact@monimi.net</a>
			</div>
		</div>
		<div style="clear: both; height:0px;">&nbsp;</div>
	</div>
</div>

<xi:include href="_master.html"/>

</html>
