<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
	  
<head py:match="head">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>monimi.net</title>
	<script type="text/javascript" src="/static/js/dojo/dojo/dojo.js" djConfig="parseOnLoad:true"></script>
	<script type="text/javascript" src="/static/js/dojo/dojo/monimi-profile.js"></script>
	<script type="text/javascript">
		dojo.registerModulePath("monimi", "/static/js/monimi");
		dojo.require("dojo.parser");
		dojo.require("monimi.JsonService");
		dojo.require("monimi.Profile");
		monimiRPC = new monimi.JsonService(window.location.protocol + "//" + window.location.host + "/controllers/smd");
	</script>
	<link rel="stylesheet" type="text/css" href="/static/js/dojo/dojo/resources/dojo.css"/>
	<link rel="stylesheet" type="text/css" href="/static/js/dojo/dijit/themes/tundra/tundra.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/monimi.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/monimi-profile.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/theme.css"/>
    <link rel="icon" type="image/png" href="/static/images/favicon.png"/>
	<!--[if IE 6]>
	<link rel="stylesheet" type="text/css" href="/static/css/monimi-ie6.css" />
	<![endif]-->
</head>
	  
<div py:match="//div[@class='menu-contents']">
	<ul>
		<li><a href="/home">Checks</a></li>
		<li><a href="/reports">Reports</a></li>
		<li class="active"><a href="">Profile</a></li>
		<li><a href="/support">Support</a></li>
		<li><a href="/signout">Logout</a></li>
		
	</ul>
</div>
	  
<div py:match="//div[@class='body-contents']">
	<div dojoType="monimi.Profile"></div>
	<div style="clear: both;">&nbsp;</div>
</div>

<xi:include href="_account_master.html"/>

</html>
