To: $email$
From: monimi.net <support@monimi.net>
Subject: Welcome to monimi.net

Thank you for registering with monimi.net.

Your details are as follows:

Username:  $email$
Password:  $password$

We hope you enjoy being a monimi.net member. If you ever need help,
please email us at support@monimi.net

Regards,
monimi.net team.
